{% extends "base_main.html" %}
{% block meta %}
    <meta name="title" content="{{ main_page.seo_block.title }}">
    <meta name="description" content="{{ main_page.seo_block.description }}">
    <meta name="keywords" content="{{ main_page.seo_block.keywords }}">
{% endblock meta %}
{% block title %}
    Главная страница
{% endblock title %}
{% block content %}
    <div class="slider">
        <div>
            <div class="slideTitle hidden-xs">{{ main_page.title }}</div>
            {% if main_page.slide1 %}
                <img src="{{ main_page.slide1.url }}"
                     class="img-responsive"
                     alt=""
                     width="800"
                     height="400">
            {% endif %}
        </div>
        <div>
            <div class="slideTitle hidden-xs">{{ main_page.title }}</div>
            {% if main_page.slide2 %}
                <img src="{{ main_page.slide2.url }}"
                     class="img-responsive"
                     alt=""
                     width="800"
                     height="400">
            {% endif %}
        </div>
        <div>
            <div class="slideTitle hidden-xs">{{ main_page.title }}</div>
            {% if main_page.slide3 %}
                <img src="{{ main_page.slide3.url }}"
                     class="img-responsive"
                     alt=""
                     width="800"
                     height="400">
            {% endif %}
        </div>
    </div>
    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <div class="page-header">
                        <h1>{{ main_page.title }}</h1>
                    </div>
                    <div class="box">
                        <blockquote>
                            <blockquote>
                                <blockquote>
                                    <blockquote>
                                        <blockquote>
                                            <blockquote>
                                                <blockquote>
                                                    <blockquote>
                                                        .
                                                    </blockquote>
                                                </blockquote>
                                            </blockquote>
                                        </blockquote>
                                    </blockquote>
                                </blockquote>
                            </blockquote>
                        </blockquote>
                        {{ main_page.short_text | safe }}
                        <p>
                            <a target="_blank"
                               rel="nofollow"
                               href="https://myhouse24.avada-media.ua/">https://myhouse24.avada-media.ua/</a>
                        </p>
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="{% url 'managements:about_us' %}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="page-header">
                        <h3>Контакты</h3>
                    </div>
                    <div class="box">
                        <p>
                            <i class="fa fa-user-circle"></i> {{ name }}
                        </p>
                        <p>
                            <i class="fa fa-compass"></i> {{ location }}
                        </p>
                        <p>
                            <i class="fa fa-map-marker"></i> {{ address }}
                        </p>
                        <p>
                            <i class="fa fa-phone"></i> <a href="tel:{{ number }}">{{ number }}</a>
                        </p>
                        <p>
                            <i class="fa fa-envelope"></i> <a href="mailto:{{ email }}">{{ email }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h3>Рядом с нами</h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 advantage-item">
                    <div class="thumbnail">
                        {% if main_page.block_image_1 %}
                            <img src="{{ main_page.block_image_1.url }}"
                                 class="img-responsive"
                                 alt=""
                                 width="300"
                                 height="200">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ main_page.title_1 }}</h3>
                            {{ main_page.description_1 | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 advantage-item">
                    <div class="thumbnail">
                        {% if main_page.block_image_2 %}
                            <img src="{{ main_page.block_image_2.url }}"
                                 class="img-responsive"
                                 alt=""
                                 width="300"
                                 height="200">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ main_page.title_2 }}</h3>
                            {{ main_page.description_2 | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 advantage-item">
                    <div class="thumbnail">
                        {% if main_page.block_image_3 %}
                            <img src="{{ main_page.block_image_3.url }}"
                                 class="img-responsive"
                                 alt=""
                                 width="300"
                                 height="200">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ main_page.title_3 }}</h3>
                            {{ main_page.description_3 | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 advantage-item">
                    <div class="thumbnail">
                        {% if main_page.block_image_4 %}
                            <img src="{{ main_page.block_image_4.url }}"
                                 class="img-responsive"
                                 alt=""
                                 width="300"
                                 height="200">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ main_page.title_4 }}</h3>
                            {{ main_page.description_4 | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 advantage-item">
                    <div class="thumbnail">
                        {% if main_page.block_image_5 %}
                            <img src="{{ main_page.block_image_5.url }}"
                                 class="img-responsive"
                                 alt=""
                                 width="300"
                                 height="200">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ main_page.title_5 }}</h3>
                            {{ main_page.description_5 | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 advantage-item">
                    <div class="thumbnail">
                        {% if main_page.block_image_6 %}
                            <img src="{{ main_page.block_image_6.url }}"
                                 class="img-responsive"
                                 alt=""
                                 width="300"
                                 height="200">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ main_page.title_6 }}</h3>
                            {{ main_page.description_6 | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
