{% extends "base_admin.html" %}
{% block title %}
    О нас
{% endblock title %}
{% block content %}
    <style>
        .hidden-template {
            display: none;
        }

        .delete-checkbox-wrapper {
            display: none;
        }

        .doc-preview-img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin-right: 10px;
        }

        .doc-icon {
            width: 32px;
            margin-right: 10px;
        }

        .doc-wrapper {
            overflow: hidden;
        }
    </style>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Редактирование страницы "О нас"</h3>
                    </div>
                    <div class="box-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3 class="page-header">Информация</h3>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group field-websiteaboutform-abouttitle">
                                        <label class="control-label" for="websiteaboutform-abouttitle">Заголовок</label>
                                        {{ form.title }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websiteaboutform-aboutdescription">
                                        <label class="control-label" for="websiteaboutform-aboutdescription">
                                            Краткий
                                            текст
                                        </label>
                                        {{ form.short_text }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Фото директора</h4>
                                    {% if form.photo %}
                                        <img src="{{ form.photo.url }}"
                                             alt="Фото директора"
                                             class="img-responsive"
                                             width="250"
                                             height="310">
                                    {% endif %}
                                    <div class="form-group field-websiteaboutform-imagefile">
                                        <label class="control-label" for="websiteaboutform-imagefile">
                                            Рекомендуемый
                                            размер: (250x310)
                                        </label>
                                        {{ form.photo }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row site-about-gallery">
                                <div class="col-xs-12">
                                    <h3 class="page-header">Фотогалерея</h3>
                                </div>
                                {% for foo in form.instance.gallery.all %}
                                    <div class="col-xs-4 col-sm-2 text-center">
                                        <img src="{{ foo.image.url }}"
                                             alt="Фото галереи"
                                             class="margin-bottom-15 img-thumbnail"
                                             width="250"
                                             height="150">
                                        <div class="form-group margin-bottom-15">
                                            <a href="{% url 'managements:delete_image' foo.pk %}"
                                               onclick="return confirm('Вы уверены, что хотите удалить это изображение?');"
                                               title="Удалить"
                                               class="text-red">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-xs-12">
                                    <div class="form-group field-websiteaboutform-aboutimagemainfiles">
                                        <label class="control-label" for="websiteaboutform-aboutimagemainfiles">
                                            Рекомендуемый
                                            размер: (1200x1200)
                                        </label>
                                        {{ form.gallery_upload }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="page-header">Дополнительная информация</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group field-websiteaboutform-abouttitle2">
                                        <label class="control-label" for="websiteaboutform-abouttitle2">Заголовок</label>
                                        {{ form.extra_title }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websiteaboutform-aboutdescription2">
                                        <label class="control-label" for="websiteaboutform-aboutdescription2">
                                            Краткий
                                            текст
                                        </label>
                                        {{ form.extra_short_text }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row site-about-gallery">
                                <div class="col-xs-12">
                                    <h3 class="page-header">Дополнительная фотогалерея</h3>
                                </div>
                                {% for ex in form.instance.extra_gallery.all %}
                                    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                                        <img src="{{ ex.image.url }}"
                                             alt="Фото доп. галереи"
                                             class="margin-bottom-15 img-thumbnail"
                                             width="250"
                                             height="150">
                                        <div class="form-group margin-bottom-15">
                                            <a href="{% url 'managements:delete_image' ex.pk %}"
                                               onclick="return confirm('Вы уверены, что хотите удалить это изображение?');"
                                               title="Удалить"
                                               class="text-red">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-xs-12">
                                    <div class="form-group field-websiteaboutform-aboutimagemainfiles">
                                        <label class="control-label" for="websiteaboutform-aboutimagemainfiles">
                                            Рекомендуемый
                                            размер: (1200x1200)
                                        </label>
                                        {{ form.extra_gallery_upload }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row site-about-documents">
                                <div class="col-xs-12">
                                    <h3 class="page-header">Документы</h3>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    {{ documents.management_form }}
                                    <div id="form-websitedocument-rows">
                                        {% for d_form in documents %}
                                            {{ d_form.id }}
                                            <div class="delete-checkbox-wrapper">{{ d_form.DELETE }}</div>
                                            <div class="form-websitedocument">
                                                <div class="form-group">
                                                    <a href="#"
                                                       class="pull-right text-red delete-document-btn"
                                                       data-confirm="Удалить?">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                    {% if d_form.instance.document %}
                                                        {% with fname=d_form.instance.document.name|lower %}
                                                            {% if '.jpg' in fname or '.jpeg' in fname or '.png' in fname %}
                                                                <a href="{{ d_form.instance.document.url }}"
                                                                   target="_blank"
                                                                   class="pull-left">
                                                                    <img src="{{ d_form.instance.document.url }}"
                                                                         alt="Документ"
                                                                         class="img-thumbnail doc-preview-img"
                                                                         width="60"
                                                                         height="60">
                                                                </a>
                                                            {% else %}
                                                                <i class="fa fa-file-pdf-o fa-3x pull-left doc-icon" aria-hidden="true"></i>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% else %}
                                                        <i class="fa fa-file-pdf-o fa-3x pull-left doc-icon" aria-hidden="true"></i>
                                                    {% endif %}
                                                    <div class="doc-wrapper">
                                                        <label>PDF, JPG (макс. размер 20Mb)</label>
                                                        {{ d_form.document }}
                                                        <div class="form-group margin-top-10">
                                                            <label>Название документа</label>
                                                            {{ d_form.title }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="empty-form" class="hidden-template">
                                        <div class="form-websitedocument">
                                            <div class="form-group">
                                                <a href="#"
                                                   class="pull-right text-red delete-document-btn"
                                                   data-confirm="Удалить?">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                                <i class="fa fa-file-pdf-o fa-3x pull-left doc-icon" aria-hidden="true"></i>
                                                <div class="doc-wrapper">
                                                    <label>PDF, JPG (макс. размер 20 Mb)</label>
                                                    {{ documents.empty_form.document }}
                                                    <div class="form-group margin-top-10">
                                                        <label>Название документа</label>
                                                        {{ documents.empty_form.title }}
                                                    </div>
                                                </div>
                                                <div class="delete-checkbox-wrapper">{{ documents.empty_form.DELETE }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button"
                                                class="btn btn-success margin-bottom-15 form-row-add-websitedocument-btn"
                                                id="add-form">Добавить документ</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="page-header">Настройки SEO</h3>
                                    <div class="form-group field-websiteaboutform-aboutmetatitle">
                                        <label class="control-label" for="websiteaboutform-aboutmetatitle">Title</label>
                                        {{ seo_form.title }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websiteaboutform-aboutmetadescription">
                                        <label class="control-label" for="websiteaboutform-aboutmetadescription">Description</label>
                                        {{ seo_form.description }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websiteaboutform-aboutmetakeywords">
                                        <label class="control-label" for="websiteaboutform-aboutmetakeywords">Keywords</label>
                                        {{ seo_form.keywords }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="form-group">
                                        <button type="reset" class="btn btn-default">Отменить</button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const container = document.getElementById('form-websitedocument-rows');
            const addFormBtn = document.getElementById('add-form');
            const emptyFormTemplate = document.getElementById('empty-form').innerHTML;

            const totalFormsInput = container.parentNode.querySelector('input[name$="-TOTAL_FORMS"]');

            if (addFormBtn) {
                addFormBtn.addEventListener('click', function () {
                    if (!totalFormsInput) return;

                    const formCount = parseInt(totalFormsInput.value);
                    const newFormHtml = emptyFormTemplate.replace(/__prefix__/g, formCount);

                    const tempDiv = document.createElement('div');
                    tempDiv.innerHTML = newFormHtml;
                    const newFormElement = tempDiv.firstElementChild;

                    container.appendChild(newFormElement);
                    totalFormsInput.value = formCount + 1;
                });
            }

            container.addEventListener('click', function (e) {
                const btn = e.target.closest('.delete-document-btn');
                if (!btn) return;

                e.preventDefault();

                if (confirm('Вы уверены, что хотите удалить этот документ?')) {
                    const serviceBlock = btn.closest('.form-websitedocument');

                    let wrapper = serviceBlock.previousElementSibling;
                    let deleteCheckbox = null;

                    if (wrapper && wrapper.classList.contains('delete-checkbox-wrapper')) {
                        deleteCheckbox = wrapper.querySelector('input[type="checkbox"]');
                    } else {
                        deleteCheckbox = serviceBlock.querySelector('input[type="checkbox"][name$="-DELETE"]');
                    }

                    if (deleteCheckbox) {
                        deleteCheckbox.checked = true;
                        serviceBlock.style.display = 'none';
                    } else {
                        serviceBlock.remove();
                    }
                }
            });
        });
    </script>
{% endblock content %}
