{% extends 'base_admin.html' %}
{% block title %}Редактировать главную страницу{% endblock %}
{% block content %}
    {% block content_header %}Редактировать главную страницу{% endblock %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Редактирование страницы "Главная"</h3>
                        <div class="box-tools">
                            <a href="/admin/website/update-seo-files"
                               class="btn btn-default btn-sm updateSeoFiles">
                                <span class="hidden-xs">Обновить robots и sitemap</span><i class="fa fa-refresh visible-xs" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.media }}
                            <input type="hidden"
                                   name="_csrf-backend"
                                   value="s1Z1Px4yfeOmOzMfngS8eNAK5wDKPWAjdwpnDuUU0Ir2YBp0Z0s-iexfYlXvd_UC4DvTeKNuBmo4ayB2qHeeug==">
                            <h3 class="page-header">Слайдер</h3>
                            <div class="row site-main-slider">
                                <div class="col-md-4">
                                    <h4>Слайд 1</h4>
                                    {% if main_page.slide1 %}
                                        <img class="img-responsive margin-bottom-15"
                                             src="{{ main_page.slide1.url }}"
                                             alt="">
                                    {% endif %}
                                    <div class="form-group field-websitehomeslide-0-id">
                                        <input type="hidden"
                                               id="websitehomeslide-0-id"
                                               class="form-control"
                                               name="WebsiteHomeSlide[0][id]"
                                               value="1">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomeslide-0-imagefile">
                                        <label class="control-label" for="websitehomeslide-0-imagefile">
                                            Рекомендуемый
                                            размер: (1920x800)
                                        </label>
                                        {{ form.slide1 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Слайд 2</h4>
                                    {% if main_page.slide2 %}
                                        <img class="img-responsive margin-bottom-15"
                                             src="{{ main_page.slide2.url }}"
                                             alt="">
                                    {% endif %}
                                    <div class="form-group field-websitehomeslide-1-id">
                                        <input type="hidden"
                                               id="websitehomeslide-1-id"
                                               class="form-control"
                                               name="WebsiteHomeSlide[1][id]"
                                               value="2">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomeslide-1-imagefile">
                                        <label class="control-label" for="websitehomeslide-1-imagefile">
                                            Рекомендуемый
                                            размер: (1920x800)
                                        </label>
                                        {{ form.slide2 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Слайд 3</h4>
                                    {% if main_page.slide3 %}
                                        <img class="img-responsive margin-bottom-15"
                                             src="{{ main_page.slide3.url }}"
                                             alt="">
                                    {% endif %}
                                    <div class="form-group field-websitehomeslide-2-id">
                                        <input type="hidden"
                                               id="websitehomeslide-2-id"
                                               class="form-control"
                                               name="WebsiteHomeSlide[2][id]"
                                               value="3">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomeslide-2-imagefile">
                                        <label class="control-label" for="websitehomeslide-2-imagefile">
                                            Рекомендуемый
                                            размер: (1920x800)
                                        </label>
                                        {{ form.slide3 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="page-header">Краткая информация</h3>
                                    <div class="form-group field-websitehomeform-hometitle">
                                        <label class="control-label" for="websitehomeform-hometitle">Заголовок</label>
                                        {{ form.title }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomeform-homedescription">
                                        <label class="control-label"
                                               for="websitehomeform-homedescription"
                                               style="display: block;
                                                      margin-bottom: 10px">Краткий текст</label>
                                        <div class="ckeditor-wrapper">{{ form.short_text }}</div>
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomeform-homeisshowapps">
                                        {{ form.is_link }}
                                        <lable>Показать ссылки на приложения</lable>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row near-img">
                                <div class="col-xs-12">
                                    <h3 class="page-header">Рядом с нами</h3>
                                </div>
                                <div class="col-md-4">
                                    <h4>Блок 1</h4>
                                    {% if main_page.block_image_1 %}<img src="{{ main_page.block_image_1.url }}" alt="">{% endif %}
                                    <div class="form-group field-websitehomefeature-0-id">
                                        <input type="hidden"
                                               id="websitehomefeature-0-id"
                                               class="form-control"
                                               name="WebsiteHomeFeature[0][id]"
                                               value="1">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-0-imagefile">
                                        <label class="control-label" for="websitehomefeature-0-imagefile">
                                            Рекомендуемый
                                            размер: (1000x600)
                                        </label>
                                        {{ form.block_image_1 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-0-title">
                                        <label class="control-label" for="websitehomefeature-0-title">
                                            Заголовок
                                            блока
                                        </label>
                                        {{ form.block_title_1 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomefeature-0-description">
                                        <label class="control-label" for="websitehomefeature-0-description">Описание</label>
                                        {{ form.block_description_1 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Блок 2</h4>
                                    {% if main_page.block_image_2 %}<img src="{{ main_page.block_image_2.url }}" alt="">{% endif %}
                                    <div class="form-group field-websitehomefeature-1-id">
                                        <input type="hidden"
                                               id="websitehomefeature-1-id"
                                               class="form-control"
                                               name="WebsiteHomeFeature[1][id]"
                                               value="2">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-1-imagefile">
                                        <label class="control-label" for="websitehomefeature-1-imagefile">
                                            Рекомендуемый
                                            размер: (1000x600)
                                        </label>
                                        {{ form.block_image_2 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-1-title">
                                        <label class="control-label" for="websitehomefeature-1-title">
                                            Заголовок
                                            блока
                                        </label>
                                        {{ form.block_title_2 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomefeature-1-description">
                                        <label class="control-label" for="websitehomefeature-1-description">Описание</label>
                                        {{ form.block_description_2 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Блок 3</h4>
                                    {% if main_page.block_image_3 %}<img src="{{ main_page.block_image_3.url }}" alt="">{% endif %}
                                    <div class="form-group field-websitehomefeature-1-id">
                                        <input type="hidden"
                                               id="websitehomefeature-1-id"
                                               class="form-control"
                                               name="WebsiteHomeFeature[1][id]"
                                               value="2">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-1-imagefile">
                                        <label class="control-label" for="websitehomefeature-1-imagefile">
                                            Рекомендуемый
                                            размер: (1000x600)
                                        </label>
                                        {{ form.block_image_3 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-1-title">
                                        <label class="control-label" for="websitehomefeature-1-title">
                                            Заголовок
                                            блока
                                        </label>
                                        {{ form.block_title_3 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomefeature-1-description">
                                        <label class="control-label" for="websitehomefeature-1-description">Описание</label>
                                        {{ form.block_description_3 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Блок 4</h4>
                                    {% if main_page.block_image_4 %}<img src="{{ main_page.block_image_4.url }}" alt="">{% endif %}
                                    <div class="form-group field-websitehomefeature-3-id">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-3-imagefile">
                                        <label class="control-label" for="websitehomefeature-3-imagefile">
                                            Рекомендуемый
                                            размер: (1000x600)
                                        </label>
                                        {{ form.block_image_4 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-3-title">
                                        <label class="control-label" for="websitehomefeature-3-title">
                                            Заголовок
                                            блока
                                        </label>
                                        {{ form.block_title_4 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomefeature-3-description">
                                        <label class="control-label" for="websitehomefeature-3-description">Описание</label>
                                        {{ form.block_description_4 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Блок 5</h4>
                                    {% if main_page.block_image_5 %}<img src="{{ main_page.block_image_5.url }}" alt="">{% endif %}
                                    <div class="form-group field-websitehomefeature-3-id">
                                        <input type="hidden"
                                               id="websitehomefeature-3-id"
                                               class="form-control"
                                               name="WebsiteHomeFeature[3][id]"
                                               value="4">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-3-imagefile">
                                        <label class="control-label" for="websitehomefeature-3-imagefile">
                                            Рекомендуемый
                                            размер: (1000x600)
                                        </label>
                                        {{ form.block_image_5 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-3-title">
                                        <label class="control-label" for="websitehomefeature-3-title">
                                            Заголовок
                                            блока
                                        </label>
                                        {{ form.block_title_5 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomefeature-3-description">
                                        <label class="control-label" for="websitehomefeature-3-description">Описание</label>
                                        {{ form.block_description_5 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Блок 6</h4>
                                    {% if main_page.block_image_6 %}<img src="{{ main_page.block_image_6.url }}" alt="">{% endif %}
                                    <div class="form-group field-websitehomefeature-3-id">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-3-imagefile">
                                        <label class="control-label" for="websitehomefeature-3-imagefile">
                                            Рекомендуемый
                                            размер: (1000x600)
                                        </label>
                                        {{ form.block_image_6 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitehomefeature-3-title">
                                        <label class="control-label" for="websitehomefeature-3-title">
                                            Заголовок
                                            блока
                                        </label>
                                        {{ form.block_title_6 }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-websitehomefeature-3-description">
                                        <label class="control-label" for="websitehomefeature-3-description">Описание</label>
                                        {{ form.block_description_6 }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="page-header">Настройки SEO</h3>
                                        <div class="form-group field-websitehomeform-homemetatitle">
                                            <label class="control-label" for="websitehomeform-homemetatitle">Title</label>
                                            {{ seo_form.title }}
                                            <div class="help-block"></div>
                                        </div>
                                        <div class="form-group field-websitehomeform-homemetadescription">
                                            <label class="control-label" for="websitehomeform-homemetadescription">Description</label>
                                            {{ seo_form.description }}
                                            <div class="help-block"></div>
                                        </div>
                                        <div class="form-group field-websitehomeform-homemetakeywords">
                                            <label class="control-label" for="websitehomeform-homemetakeywords">Keywords</label>
                                            {{ seo_form.keywords }}
                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <div class="form-group">
                                            <button type="reset" class="btn btn-success">Отмена</button>
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            var editors = [
                'id_short_text',
                'id_block_description_1',
                'id_block_description_2',
                'id_block_description_3',
                'id_block_description_4',
                'id_block_description_5',
                'id_block_description_6'
            ];

            editors.forEach(function (id) {
                if (document.getElementById(id)) {
                    CKEDITOR.replace(id, {
                        toolbar: [
                            ['Format'],
                            ['Bold', 'Italic', 'Underline', 'Strike'],
                            ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent']
                        ],
                        height: 150,
                        width: '100%',
                        resize_enabled: false,
                        removePlugins: 'elementspath',
                        language: 'ru'
                    });
                }
            });
        });
        </script>
    {% endblock %}
