{% extends "base_admin.html" %}
{% block title %}
    Редактирование страницы
{% endblock title %}
{% block content_header %}
    Редактирование страницы
{% endblock content_header %}
{% block content_url %}
    <li>
        <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
    </li>
    <li class="active">Редактирование страницы</li>
{% endblock content_url %}
{% block content %}
    <style>
        .label-block {
            display: block;
            margin-bottom: 10px;
        }

        .admin-preview-img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f9f9f9;
        }

        img[src=""], img:not([src]) {
            display: none;
        }

        .ckeditor-wrapper {
            margin-bottom: 15px;
        }
    </style>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Редактирование страницы "Главная"</h3>
                        <div class="box-tools">
                            <a href="#" class="btn btn-default btn-sm updateSeoFiles">
                                <span class="hidden-xs">Обновить robots и sitemap</span>
                                <i class="fa fa-refresh visible-xs" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            <h3 class="page-header">Слайдер</h3>
                            <div class="row site-main-slider">
                                <div class="col-md-4">
                                    <h4>Слайд 1</h4>
                                    <img id="prev_id_slide1"
                                         width="350"
                                         height="150"
                                         class="img-responsive admin-preview-img"
                                         src="{% if main_page.slide1 %}{{ main_page.slide1.url }}{% endif %}"
                                         alt="">
                                    <div class="form-group">
                                        <label class="control-label">Рекомендуемый размер: (1920x800)</label>
                                        {{ form.slide1 }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Слайд 2</h4>
                                    <img id="prev_id_slide2"
                                         width="350"
                                         height="150"
                                         class="img-responsive admin-preview-img"
                                         src="{% if main_page.slide2 %}{{ main_page.slide2.url }}{% endif %}"
                                         alt="">
                                    <div class="form-group">
                                        <label class="control-label">Рекомендуемый размер: (1920x800)</label>
                                        {{ form.slide2 }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Слайд 3</h4>
                                    <img id="prev_id_slide3"
                                         width="350"
                                         height="150"
                                         class="img-responsive admin-preview-img"
                                         src="{% if main_page.slide3 %}{{ main_page.slide3.url }}{% endif %}"
                                         alt="">
                                    <div class="form-group">
                                        <label class="control-label">Рекомендуемый размер: (1920x800)</label>
                                        {{ form.slide3 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="page-header">Краткая информация</h3>
                                    <div class="form-group">
                                        <label class="control-label">Заголовок</label>
                                        {{ form.title }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label label-block">Краткий текст</label>
                                        <div class="ckeditor-wrapper">{{ form.short_text }}</div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.is_link }}
                                        <label>Показать ссылки на приложения</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row near-img">
                                <div class="col-xs-12">
                                    <h3 class="page-header">Рядом с нами</h3>
                                </div>
                                {% for i in "123456" %}
                                    <div class="col-md-4">
                                        <h4>Блок {{ i }}</h4>
                                        {% if i == "1" %}
                                            <img id="prev_id_block_image_1"
                                                 width="300"
                                                 height="180"
                                                 class="img-responsive admin-preview-img"
                                                 src=" {% if main_page.block_image_1 %}{{ main_page.block_image_1.url }}{% endif %}"
                                                 alt="">
                                            <div class="form-group">{{ form.block_image_1 }}</div>
                                            <div class="form-group">
                                                <label>Заголовок</label>
                                                {{ form.block_title_1 }}
                                            </div>
                                            <div class="form-group margin-bottom-30">
                                                <label>Описание</label>
                                                {{ form.block_description_1 }}
                                            </div>
                                        {% elif i == "2" %}
                                            <img id="prev_id_block_image_2"
                                                 width="300"
                                                 height="180"
                                                 class="img-responsive admin-preview-img"
                                                 src=" {% if main_page.block_image_2 %}{{ main_page.block_image_2.url }}{% endif %}"
                                                 alt="">
                                            <div class="form-group">{{ form.block_image_2 }}</div>
                                            <div class="form-group">
                                                <label>Заголовок</label>
                                                {{ form.block_title_2 }}
                                            </div>
                                            <div class="form-group margin-bottom-30">
                                                <label>Описание</label>
                                                {{ form.block_description_2 }}
                                            </div>
                                        {% elif i == "3" %}
                                            <img id="prev_id_block_image_3"
                                                 width="300"
                                                 height="180"
                                                 class="img-responsive admin-preview-img"
                                                 src=" {% if main_page.block_image_3 %}{{ main_page.block_image_3.url }}{% endif %}"
                                                 alt="">
                                            <div class="form-group">{{ form.block_image_3 }}</div>
                                            <div class="form-group">
                                                <label>Заголовок</label>
                                                {{ form.block_title_3 }}
                                            </div>
                                            <div class="form-group margin-bottom-30">
                                                <label>Описание</label>
                                                {{ form.block_description_3 }}
                                            </div>
                                        {% elif i == "4" %}
                                            <img id="prev_id_block_image_4"
                                                 width="300"
                                                 height="180"
                                                 class="img-responsive admin-preview-img"
                                                 src=" {% if main_page.block_image_4 %}{{ main_page.block_image_4.url }}{% endif %}"
                                                 alt="">
                                            <div class="form-group">{{ form.block_image_4 }}</div>
                                            <div class="form-group">
                                                <label>Заголовок</label>
                                                {{ form.block_title_4 }}
                                            </div>
                                            <div class="form-group margin-bottom-30">
                                                <label>Описание</label>
                                                {{ form.block_description_4 }}
                                            </div>
                                        {% elif i == "5" %}
                                            <img id="prev_id_block_image_5"
                                                 width="300"
                                                 height="180"
                                                 class="img-responsive admin-preview-img"
                                                 src=" {% if main_page.block_image_5 %}{{ main_page.block_image_5.url }}{% endif %}"
                                                 alt="">
                                            <div class="form-group">{{ form.block_image_5 }}</div>
                                            <div class="form-group">
                                                <label>Заголовок</label>
                                                {{ form.block_title_5 }}
                                            </div>
                                            <div class="form-group margin-bottom-30">
                                                <label>Описание</label>
                                                {{ form.block_description_5 }}
                                            </div>
                                        {% elif i == "6" %}
                                            <img id="prev_id_block_image_6"
                                                 width="300"
                                                 height="180"
                                                 class="img-responsive admin-preview-img"
                                                 src=" {% if main_page.block_image_6 %}{{ main_page.block_image_6.url }}{% endif %}"
                                                 alt="">
                                            <div class="form-group">{{ form.block_image_6 }}</div>
                                            <div class="form-group">
                                                <label>Заголовок</label>
                                                {{ form.block_title_6 }}
                                            </div>
                                            <div class="form-group margin-bottom-30">
                                                <label>Описание</label>
                                                {{ form.block_description_6 }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="page-header">Настройки SEO</h3>
                                    <div class="form-group">
                                        <label>Title</label>
                                        {{ seo_form.title }}
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        {{ seo_form.description }}
                                    </div>
                                    <div class="form-group">
                                        <label>Keywords</label>
                                        {{ seo_form.keywords }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="form-group">
                                        <a href="{% url 'managements:statistic' %}" class="btn btn-default">Отмена</a>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var editors = [
                'id_short_text', 'id_block_description_1', 'id_block_description_2',
                'id_block_description_3', 'id_block_description_4', 'id_block_description_5', 'id_block_description_6'
            ];

            editors.forEach(function (id) {
                if (document.getElementById(id)) {
                    CKEDITOR.replace(id, {
                        toolbar: [['Format'], ['Bold', 'Italic', 'Underline', 'Strike'], ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent']],
                        height: 150,
                        width: '100%',
                        resize_enabled: false,
                        removePlugins: 'elementspath',
                        language: 'ru',
                        versionCheck: false
                    });
                }
            });

            function initPreview(inputId) {
                var input = document.getElementById(inputId);
                var preview = document.getElementById('prev_' + inputId);
                if (input && preview) {
                    input.addEventListener('change', function () {
                        if (this.files && this.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                preview.src = e.target.result;
                                preview.style.display = 'block';
                            };
                            reader.readAsDataURL(this.files[0]);
                        }
                    });
                }
            }

            var fileInputs = [
                'id_slide1', 'id_slide2', 'id_slide3',
                'id_block_image_1', 'id_block_image_2', 'id_block_image_3',
                'id_block_image_4', 'id_block_image_5', 'id_block_image_6'
            ];

            fileInputs.forEach(initPreview);
        });
    </script>
{% endblock content %}
