{% extends "base_admin.html" %}
{% block title %}
    Редактирование страницы
{% endblock title %}
{% block content_header %}
    Редактирование страницы
{% endblock content_header %}
{% block content_url %}
    <li>
        <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
    </li>
    <li class="active">Редактирование страницы</li>
{% endblock content_url %}
{% block content %}
    <style>
        .hidden-template {
            display: none;
        }

        .tariff-img {
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
        }

        .delete-checkbox-wrapper {
            display: none;
        }
    </style>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Редактирование страницы "Тарифы"</h3>
                    </div>
                    <div class="box-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3 class="page-header">Информация</h3>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group field-websitetariffform-tarifftitle">
                                        <label class="control-label" for="websitetariffform-tarifftitle">Заголовок</label>
                                        {{ form.title }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitetariffform-tariffdescription">
                                        <label class="control-label" for="websitetariffform-tariffdescription">
                                            Краткий
                                            текст
                                        </label>
                                        {{ form.short_text }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row near-img">
                                <div class="col-xs-12">
                                    <h3 class="page-header">Изображения</h3>
                                </div>
                                {{ tariffs_formset.management_form }}
                                <div id="form-websitetariff-rows">
                                    {% for t_form in tariffs_formset %}
                                        {{ t_form.id }}
                                        <div class="delete-checkbox-wrapper">{{ t_form.DELETE }}</div>
                                        <div class="col-md-4 form-websitetariff">
                                            <h4>
                                                <span class="tariff-number">Тариф {{ forloop.counter }}</span>
                                                <a href="#"
                                                   class="pull-right text-red delete-service-btn"
                                                   data-confirm="Удалить этот тариф?">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </h4>
                                            {% if t_form.instance.image %}
                                                <img src="{{ t_form.instance.image.url }}"
                                                     class="img-responsive margin-bottom-15 tariff-img"
                                                     width="650"
                                                     height="300"
                                                     alt="Tariff Image">
                                            {% else %}
                                                <img src="https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&w=650&h=300&fit=crop"
                                                     class="img-responsive margin-bottom-15 tariff-img"
                                                     width="650"
                                                     height="300"
                                                     alt="Placeholder">
                                            {% endif %}
                                            <div class="form-group">
                                                <label>Файл</label>
                                                {{ t_form.image }}
                                            </div>
                                            <div class="form-group">
                                                <label>Подпись</label>
                                                {{ t_form.title }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div id="empty-form" class="hidden-template">
                                    <div class="col-md-4 form-websitetariff new-form">
                                        <h4>
                                            <span class="tariff-number">Тариф __prefix__</span>
                                            <a href="#"
                                               class="pull-right text-red delete-service-btn"
                                               data-confirm="Удалить?">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </h4>
                                        <img src="https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&w=650&h=300&fit=crop"
                                             class="img-responsive margin-bottom-15 tariff-img"
                                             width="650"
                                             height="300"
                                             alt="Placeholder">
                                        <div class="form-group">
                                            <label>Файл</label>
                                            {{ tariffs_formset.empty_form.image }}
                                        </div>
                                        <div class="form-group">
                                            <label>Подпись</label>
                                            {{ tariffs_formset.empty_form.title }}
                                        </div>
                                        <div class="delete-checkbox-wrapper">{{ tariffs_formset.empty_form.DELETE }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="page-header">Настройки SEO</h3>
                                    <div class="form-group field-websitetariffform-tariffmetatitle">
                                        <label class="control-label" for="websitetariffform-tariffmetatitle">Title</label>
                                        {{ seo_form.title }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitetariffform-tariffmetadescription">
                                        <label class="control-label" for="websitetariffform-tariffmetadescription">Description</label>
                                        {{ seo_form.description }}
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-websitetariffform-tariffmetakeywords">
                                        <label class="control-label" for="websitetariffform-tariffmetakeywords">Keywords</label>
                                        {{ seo_form.keywords }}
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="form-group">
                                        <button type="reset" class="btn btn-success">Отменить</button>
                                        <button type="button"
                                                role="button"
                                                class="btn btn-success bg-green-active"
                                                id="add-form">Добавить тариф</button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var editors = ['id_short_text'];
            editors.forEach(function (id) {
                if (document.getElementById(id)) {
                    CKEDITOR.replace(id, {
                        toolbar: [
                            ['Format'],
                            ['Bold', 'Italic', 'Underline', 'Strike'],
                            ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent']
                        ],
                        height: 150,
                        width: '100%',
                        resize_enabled: false,
                        removePlugins: 'elementspath',
                        language: 'ru',
                        versionCheck: false
                    });
                }
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const container = document.getElementById('form-websitetariff-rows');
            const addFormBtn = document.getElementById('add-form');
            const totalFormsInput = document.querySelector('input[name$="-TOTAL_FORMS"]');
            const emptyFormTemplate = document.getElementById('empty-form').innerHTML;

            function updateServiceNumbers() {
                const visibleServices = Array.from(container.querySelectorAll('.form-websitetariff')).filter(el => el.style.display !== 'none');

                visibleServices.forEach((service, index) => {
                    const numberSpan = service.querySelector('.tariff-number');
                    if (numberSpan) {
                        numberSpan.textContent = `Тариф ${index + 1}`;
                    }
                });
            }

            if (addFormBtn) {
                addFormBtn.addEventListener('click', function () {
                    const formCount = parseInt(totalFormsInput.value);
                    const newFormHtml = emptyFormTemplate.replace(/__prefix__/g, formCount);

                    const tempDiv = document.createElement('div');
                    tempDiv.innerHTML = newFormHtml;
                    const newFormElement = tempDiv.firstElementChild;

                    container.appendChild(newFormElement);
                    totalFormsInput.value = formCount + 1;

                    updateServiceNumbers();
                });
            }

            container.addEventListener('click', function (e) {
                const btn = e.target.closest('.delete-service-btn');
                if (!btn) return;

                e.preventDefault();

                if (confirm('Вы уверены, что хотите удалить этот тариф?')) {
                    const serviceBlock = btn.closest('.form-websitetariff');

                    const deleteCheckbox = serviceBlock.parentElement.querySelector('input[type="checkbox"][name$="-DELETE"]') || serviceBlock.querySelector('input[type="checkbox"][name$="-DELETE"]');

                    if (deleteCheckbox) {
                        deleteCheckbox.checked = true;
                        serviceBlock.style.display = 'none';
                    } else {
                        serviceBlock.remove();
                    }

                    updateServiceNumbers();
                }
            });

            updateServiceNumbers();
        });
    </script>
{% endblock content %}
