{% extends "base_admin.html" %}
{% block title %}
    Лицевые счета
{% endblock title %}
{% block content_header %}
    Лицевые счета
{% endblock content_header %}
{% block content_url %}
    <li>
        <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
    </li>
    <li class="active">Лицевые счета</li>
{% endblock content_url %}
{% block content %}
    <section class="content">
        <div class="row">
            <div id="hidden-filters" class="invisible">
                {{ form.house }}
                {{ form.section }}
                {{ form.owner }}
                <select id="remainder">
                    <option value=""></option>
                    <option value="remainder">Есть долг</option>
                    <option value="not_remainder">Нет долга</option>
                </select>
            </div>
            <div class="col-xs-12 col-lg-9">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-green overflow-hidden">
                            <div class="inner">
                                <h3>{{ cashbox_status }} грн</h3>
                                <p>Состояние кассы</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-blue overflow-hidden">
                            <div class="inner">
                                <h3>{{ bankbook_status }} грн</h3>
                                <p>Баланс по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-red overflow-hidden">
                            <div class="inner">
                                <h3>{{ bankbook_dept }} грн</h3>
                                <p>Задолженность по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="btn-group pull-right margin-bottom">
                    <button type="button"
                            class="btn btn-success dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Выберите действие <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'admin:create-bankbook' %}">Добавить лицевой счет</a>
                        </li>
                        <li>
                            <a href="#" onclick="downloadFile(); return false;">Выгрузить в Excel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <a href="#" class="btn btn-default btn-sm">
                                <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div id="w0" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-bordered table-hover table-striped linkedRow"
                                   id="bankbook-table">
                            </table>
                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>
                    <div class="box-footer">
                        <div>
                            Количество счетов: <span class="text-bold">{{ bankbook.count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            AjaxDatatableViewUtils.initialize_table(
                $('#bankbook-table'),
                "{% url 'admin:bankbook-ajax-table' %}",
                {
                    processing: true,
                    autoWidth: false,
                    scrollX: false,
                    lengthChange: false,
                    pageLength: 50,
                    searching: true,
                    pagingType: 'numbers',
                    showing: false,
                    ordering: false,
                    dom: '<"box-body"t><"box-footer clearfix"p>',
                    info: false,
                    bFilter: true,
                    initComplete: function (settings, json) {
                        var api = this.api();

                        function setupColumnFilter(colName, selectId, ajaxUrl, dependentDataFunc) {
                            var column = api.column(colName + ':name');
                            if (column.index() !== undefined) {
                                var $cell = $(column.footer());

                                if ($cell.length === 0 || $cell.is(':empty')) {
                                    $cell = $('#bankbook-table thead tr:eq(1) th').eq(column.index());
                                }

                                $cell.empty();

                                var $select = $(selectId);
                                $select.appendTo($cell);

                                $select.select2({
                                    width: '100%',
                                    placeholder: "Все",
                                    allowClear: true,
                                    ajax: {
                                        url: ajaxUrl,
                                        dataType: 'json',
                                        delay: 250,
                                        data: function (params) {
                                            var query = {
                                                q: params.term,
                                                page: params.page
                                            };

                                            if (dependentDataFunc) {
                                                $.extend(query, dependentDataFunc());
                                            }

                                            return query;
                                        }
                                    }
                                });

                                $cell.on('click', function (e) {
                                    e.stopPropagation();
                                });
                            }
                        }

                        function setupCustomSelect(colName, selectId) {
                            var column = api.column(colName + ':name');
                            if (column.index() !== undefined) {
                                var $cell = $(column.footer());

                                if ($cell.length === 0 || $cell.is(':empty')) {
                                    $cell = $('#bankbook-table thead tr:eq(1) th').eq(column.index());
                                }

                                $cell.empty();

                                var $select = $(selectId);
                                $select.appendTo($cell);

                                $cell.on('click', function (e) {
                                    e.stopPropagation();
                                });
                            }
                        }

                        setupColumnFilter('house', '#id_house', '/api/admin/house', null);
                        setupCustomSelect('remainder', '#remainder');

                        setupColumnFilter('section', '#id_section', '/api/admin/section', function () {
                            return {
                                house_id: $('#id_house').val()
                            };
                        });

                        setupColumnFilter('owner', '#id_owner', '/api/admin/owner', null);

                        $('#id_house, #id_section').on('change.select2', function () {
                            $('#bankbook-table').DataTable().ajax.reload();
                        });

                        $('#remainder').on('change', function () {
                            $('#bankbook-table').DataTable().ajax.reload();
                        });

                        $('#id_house').on('change', function () {
                            $('#id_section').val(null).trigger('change.select2');
                        });
                    }
                },
                {
                    house: function () {
                        return $('#id_house').val();
                    },
                    remainder: function () {
                        return $('#remainder').val();
                    },
                    section: function () {
                        return $('#id_section').val();
                    },
                    owner: function () {
                        return $('#id_owner').val();
                    },
                }
            );
            $('body').on('click', 'tr[data-href]', function (e) {


                if ($(e.target).closest('a, button, .btn').length) {
                    return;
                }

                window.location = $(this).data('href');
            });

            $('.box-tools a').on('click', function (e) {
                e.preventDefault();

                $('#id_house, #id_owner, #id_section').each(function () {
                    if ($(this).hasClass('select2-hidden-accessible')) {
                        $(this).val(null).trigger('change');
                    }
                });

                $('.box-tools').closest('.box').find('input[type="text"], input[type="number"], input[type="date"], input[type="search"]').val('');

                $('.filters-form input[type="text"]').val('');

                $('select:not(.select2-hidden-accessible)').val('').trigger('change');

                if ($.fn.dataTable.isDataTable('#bankbook-table')) {
                    var table = $('#bankbook-table').DataTable();
                    table.search('')
                        .columns().search('')
                        .draw();
                }
            });
        });
    </script>
    <script>
        async function downloadFile() {
            try {
                const startResponse = await fetch("{% url 'admin:bankbook-download' %}");
                const {task_id} = await startResponse.json();
                let baseUrl = "{% url 'admin:export-status' task_id='0' %}";

                const interval = setInterval(async () => {
                    try {
                        const res = await fetch(baseUrl.replace('0', task_id));

                        if (!res.ok) throw new Error();

                        const data = await res.json();

                        if (data.status === 'done') {
                            clearInterval(interval);

                            if (data.url) {
                                const link = document.createElement('a');
                                link.href = data.url;
                                link.setAttribute('download', '');
                                document.body.appendChild(link);
                                link.click();
                                link.remove();
                            }
                        } else if (data.status === 'error') {
                            clearInterval(interval);
                        }
                    } catch (err) {
                        clearInterval(interval);
                    }
                }, 250);

            } catch (error) {
                console.error(error);
            }
        }
    </script>
{% endblock extra_js %}
