{% extends "base_admin.html" %}
{% block title %}
    Касса
{% endblock title %}
{% block content_header %}
    Касса
{% endblock content_header %}
{% block content_url %}
    <li>
        <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
    </li>
    <li class="active">Касса</li>
{% endblock content_url %}
{% block content %}
    {{ form.owner }}
    {{ form.article }}
    <select id="status">
        <option value=""></option>
        <option value="is_catch">Проведен</option>
        <option value="not_is_catch">Не проведен</option>
    </select>
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-green overflow-hidden">
                            <div class="inner">
                                <h3>{{ cashbox_status }} грн</h3>
                                <p>Состояние кассы</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                            <!--<span class="small-box-footer">&nbsp;</span>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-blue overflow-hidden">
                            <div class="inner">
                                <h3>{{ bankbook_status }} грн</h3>
                                <p>Баланс по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-red overflow-hidden">
                            <div class="inner">
                                <h3>{{ bankbook_dept }} грн</h3>
                                <p>Задолженность по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="btn-group pull-right margin-bottom">
                    <button type="button"
                            class="btn btn-success dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Выберите действие <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'admin:cashbox-create-in' %}">Создать приход</a>
                        </li>
                        <li>
                            <a href="{% url 'admin:cashbox-create-out' %}">Создать расход</a>
                        </li>
                        <li>
                            <a href="#" onclick="downloadFile(); return false;">Выгрузить в Excel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <a href="#" class="btn btn-default btn-sm">
                                <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div id="w0" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <table id="cash-box-table"
                                   class="table table-bordered table-hover table-striped linkedRow">
                            </table>
                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>
                    <div class="box-footer">
                        <div>
                            Проведен приход: <span class="text-bold">{{ comings }} грн</span>
                        </div>
                        <div>
                            Проведен расход: <span class="text-bold">{{ outgoes }} грн</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const bankbookID = urlParams.get('bank_book_id');
            AjaxDatatableViewUtils.initialize_table(
                $('#cash-box-table'),
                "{% url 'admin:cashbox-ajax-table' %}",
                {
                    processing: true,
                    autoWidth: false,
                    scrollX: false,
                    lengthChange: false,
                    pageLength: 50,
                    searching: true,
                    pagingType: 'numbers',
                    showing: false,
                    ordering: false,
                    dom: '<"box-body"t><"box-footer clearfix"p>',
                    info: false,
                    bFilter: true,
                    initComplete: function (settings, json) {
                        var api = this.api();

                        function setupColumnFilter(colName, selectId, ajaxUrl, dependentDataFunc) {
                            var column = api.column(colName + ':name');
                            if (column.index() !== undefined) {
                                var $cell = $(column.footer());

                                if ($cell.length === 0 || $cell.is(':empty')) {
                                    $cell = $('#cash-box-table thead tr:eq(1) th').eq(column.index());
                                }

                                $cell.empty();

                                var $select = $(selectId);
                                $select.appendTo($cell);

                                $select.select2({
                                    width: '100%',
                                    placeholder: "Все",
                                    allowClear: false,
                                    ajax: {
                                        url: ajaxUrl,
                                        dataType: 'json',
                                        delay: 250,
                                        data: function (params) {
                                            var query = {
                                                q: params.term,
                                                page: params.page
                                            };

                                            if (dependentDataFunc) {
                                                $.extend(query, dependentDataFunc());
                                            }

                                            return query;
                                        }
                                    }
                                });

                                $cell.on('click', function (e) {
                                    e.stopPropagation();
                                });
                            }
                        }

                        function setupCustomSelect(colName, selectId) {
                            var column = api.column(colName + ':name');
                            if (column.index() !== undefined) {
                                var $cell = $(column.footer());

                                if ($cell.length === 0 || $cell.is(':empty')) {
                                    $cell = $('#cash-box-table thead tr:eq(1) th').eq(column.index());
                                }

                                $cell.empty();

                                var $select = $(selectId);
                                $select.appendTo($cell);

                                $cell.on('click', function (e) {
                                    e.stopPropagation();
                                });
                            }
                        }

                        function setupRangeFilter(colName) {
                            var column = api.column(colName + ':name');
                            if (column.index() !== undefined) {
                                var $cell = $('#cash-box-table thead tr:eq(1) th').eq(column.index());
                                $cell.empty();

                                var $input = $('<input>', {
                                    type: 'text',
                                    id: 'date_range',
                                    class: 'form-control input-sm',
                                });

                                $input.appendTo($cell);
                                $input.daterangepicker({
                                    autoUpdateInput: false,
                                });
                                $input.on('apply.daterangepicker', function (ev, picker) {
                                    $(this).val(
                                        picker.startDate.format('YYYY-MM-DD') +
                                        ' - ' +
                                        picker.endDate.format('YYYY-MM-DD')
                                    );
                                    $('#cash-box-table').DataTable().ajax.reload();
                                });

                                $input.on('cancel.daterangepicker', function () {
                                    $(this).val('');
                                    $('#cash-box-table').DataTable().ajax.reload();
                                })
                            }

                        }

                        setupColumnFilter('owner', '#id_owner', '/api/admin/owner', null);
                        setupColumnFilter('article', '#id_article', '/api/admin/article', null);
                        setupRangeFilter('date')
                        setupCustomSelect('statuss', '#status')
                        $('#id_article').on('change.select2', function () {
                            $('#cash-box-table').DataTable().ajax.reload();
                        });
                        $('#id_owner').on('change.select2', function () {
                            $('#cash-box-table').DataTable().ajax.reload();
                        });
                        $('#status').on('change', function () {
                            $('#cash-box-table').DataTable().ajax.reload();
                        });
                    }

                },
                {
                    extra_data: {
                        'bank_book_id': bankbookID,
                        'owner': function () {
                            return $('#id_owner').val();
                        },
                        'article': function () {
                            return $('#id_article').val();
                        },
                        'date_from': function () {
                            var val = $('#date_range').val();
                            return val ? val.split(' - ')[0] : null;
                        },
                        'date_to': function () {
                            var val = $('#date_range').val();
                            return val ? val.split(' - ')[1] : null;
                        },
                        'statuss': function () {
                            return $('#status').val();
                        }
                    }
                }
            )
            ;
            $('body').on('click', 'tr[data-href]', function (e) {


                if ($(e.target).closest('a, button, .btn').length) {
                    return;
                }

                window.location = $(this).data('href');
            });


            $('.box-tools a').on('click', function (e) {
                e.preventDefault();

                $('#id_house, #id_owner, #id_section').each(function () {
                    if ($(this).hasClass('select2-hidden-accessible')) {
                        $(this).val(null).trigger('change');
                    }
                });

                $('.box-tools').closest('.box').find('input[type="text"], input[type="number"], input[type="date"], input[type="search"]').val('');

                $('.filters-form input[type="text"]').val('');

                $('select:not(.select2-hidden-accessible)').val('').trigger('change');

                if ($.fn.dataTable.isDataTable('#cash-box-table')) {
                    var table = $('#cash-box-table').DataTable();
                    table.search('')
                        .columns().search('')
                        .draw();
                }
            });
        });
    </script>
    <script>
        async function downloadFile() {
            try {
                const startResponse = await fetch("{% url 'admin:cashbox-download-list' %}");
                const {task_id} = await startResponse.json();
                let baseUrl = "{% url 'admin:export-status' task_id='0' %}";

                const interval = setInterval(async () => {
                    try {
                        const res = await fetch(baseUrl.replace('0', task_id));

                        if (!res.ok) throw new Error();

                        const data = await res.json();

                        if (data.status === 'done') {
                            clearInterval(interval);

                            if (data.url) {
                                const link = document.createElement('a');
                                link.href = data.url;
                                link.setAttribute('download', '');
                                document.body.appendChild(link);
                                link.click();
                                link.remove();
                            }
                        } else if (data.status === 'error') {
                            clearInterval(interval);
                        }
                    } catch (err) {
                        clearInterval(interval);
                    }
                }, 1500);

            } catch (error) {
                console.error(error);
            }
        }
    </script>
{% endblock extra_js %}
