{% extends "base_admin.html" %}
{% block content %}
    <section class="content">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-md-7 col-lg-6">
                    <div class="page-header-spec">
                        <div class="form-group field-accounttransaction-uid required">
                            <div class="input-group">
                                <div class="input-group-addon">№</div>
                                {{ form.number }}
                            </div>
                        </div>
                        <span class="label-mid">от</span>
                        <div class="form-group field-accounttransaction-uid_date required">
                            <div id="accounttransaction-uid_date-kvdate" class="input-group  date">
                                <span class="input-group-addon kv-date-calendar" title="Выбрать дату"><i class="glyphicon glyphicon-calendar"></i></span>{{ form.date }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <input type="hidden"
                           id="accounttransaction-id"
                           name="AccountTransaction[id]">
                    <input type="hidden"
                           id="accounttransaction-type"
                           name="AccountTransaction[type]"
                           value="in">
                    <input type="hidden"
                           id="accounttransaction-currency_id"
                           name="AccountTransaction[currency_id]"
                           value="1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                            {{ form.is_catch }}
                            <label for="is_complete">Проведен</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="user_id">Владелец квартиры</label>
                                {{ form.owner }}
                            </div>
                            <div class="form-group field-accounttransaction-account_id">
                                <label class="control-label" for="accounttransaction-account_id">Лицевой счет</label>
                                {{ form.bank_book }}
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group field-accounttransaction-transaction_purpose_id">
                                <label class="control-label" for="accounttransaction-transaction_purpose_id">Статья</label>
                                {{ form.article }}
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group field-accounttransaction-amount required">
                                <label class="control-label" for="accounttransaction-amount">Сумма</label>
                                {{ form.sum }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input type="hidden"
                                   id="accounttransaction-status"
                                   name="AccountTransaction[status]"
                                   value="10">
                            <input type="hidden"
                                   id="accounttransaction-invoice_id"
                                   name="AccountTransaction[invoice_id]">
                            <div class="form-group field-accounttransaction-user_admin_id">
                                <label class="control-label" for="accounttransaction-user_admin_id">Менеджер</label>
                                {{ form.manager }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="form-group">
                                <button type="reset" class="btn btn-default margin-bottom-15">Отменить</button>
                                <input type="submit"
                                       class="btn btn-success margin-bottom-15"
                                       name="action_save"
                                       value="Сохранить">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group field-accounttransaction-description">
                                <label class="control-label" for="accounttransaction-description">Комментарий</label>
                                {{ form.comment }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#id_owner').select2({
                width: '100%',
                placeholder: "Выберите...",
                ajax: {
                    url: '/api/admin/owner',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            apartment_id: $('#id_apartment').val()
                        };
                    }
                }
            });

            $('#id_manager').select2({
                width: '100%',
                placeholder: "Выберите...",
                ajax: {
                    url: '/api/admin/manager',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    }
                }
            });
            $('#id_bank_book').select2({
                width: '100%',
                placeholder: "Выберите...",
                ajax: {
                    url: '/api/admin/bank_book_owner',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            owner_id: $('#id_owner').val()
                        };
                    }
                }
            });
            $('#id_article').select2({
                width: '100%',
                placeholder: "Выберите...",
                ajax: {
                    url: '/api/admin/article-coming',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                        };
                    }
                }
            });
        });
    </script>
{% endblock extra_js %}
