{% extends "base_admin.html" %}
{% block title %}
    Квартира №{{ apartment.number }},
    {% if apartment.house.title %}
        {{ apartment.house.title }}
    {% else %}
        Дом {{ apartment.house.id }}
    {% endif %}
{% endblock title %}
{% block content_header %}
    Квартира №{{ apartment.number }},
    {% if apartment.house.title %}
        {{ apartment.house.title }}
    {% else %}
        Дом {{ apartment.house.id }}
    {% endif %}
{% endblock content_header %}
{% block content_url %}
    <li>
        <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
    </li>
    <li>
        <a href="{% url 'admin:flat-list' %}">Квартиры</a>
    </li>
    <li class="active">
        Квартира №{{ apartment.number }},
        {% if apartment.house.title %}
            {{ apartment.house.title }}
        {% else %}
            Дом {{ apartment.house.id }}
        {% endif %}
    </li>
{% endblock content_url %}
{% block content %}
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Просмотр квартиры</h3>
                <div class="box-tools">
                    {% if apartment.bankbook.status != 'ACTIVE' or not apartment.bankbook %}
                        <button class="btn btn-default btn-sm disabled"
                                data-confirm="Лицевой счет неактивен или не привязан к квартире">
                            <span class="hidden-xs"><i class="fa fa-dollar"></i> Принять платеж</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-default btn-sm disabled"
                                data-confirm="Лицевой счет неактивен или не привязан к квартире">
                            <span class="hidden-xs"><i class="fa fa-files-o"></i> Оформить квитанцию</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                        </button>
                    {% else %}
                        <a href="{% url 'admin:cashbox-create-in' %}?bankbook_id={{ apartment.bankbook.id }}"
                           class="btn btn-default btn-sm">
                            <span class="hidden-xs"><i class="fa fa-dollar"></i> Принять платеж</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'admin:receipt-create' %}?source_id={{ apartment.bankbook.id }}"
                           class="btn btn-default btn-sm">
                            <span class="hidden-xs"><i class="fa fa-files-o"></i> Оформить квитанцию</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    <a href="{% url 'admin:edit-flat' pk=apartment.id %}"
                       class="btn btn-primary btn-sm">
                        <span class="hidden-xs">Редактировать квартиру</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-bordered table-striped table-view">
                            <tbody>
                                <tr>
                                    <td>Лицевой счет</td>
                                    <td>
                                        {% if apartment.bankbook %}
                                            <a href="{% url 'admin:bankbook-detail' apartment.bankbook.id %}">{{ apartment.bankbook.number }}</a>
                                        {% else %}
                                            Не указано
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Номер квартиры</td>
                                    <td>{{ apartment.number }}</td>
                                </tr>
                                <tr>
                                    <td>Площадь</td>
                                    <td>
                                        {{ apartment.area }}м<sup>2</sup>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Дом</td>
                                    <td>
                                        <a href="{% url 'admin:detail-house' pk=apartment.house.id %}">{{ apartment.house.title }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Секция</td>
                                    <td>{{ apartment.section.title|default:'не указано' }}</td>
                                </tr>
                                <tr>
                                    <td>Этаж</td>
                                    <td>{{ apartment.floor.title|default:'не указано' }}</td>
                                </tr>
                                <tr>
                                    <td>Владелец</td>
                                    <td>
                                        {% if apartment.owner %}
                                            <a href="{% url 'admin:detail-owner' apartment.owner.id %}">{{ apartment.owner.fullname }}</a>
                                        {% else %}
                                            не указано
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Тариф</td>
                                    <td>
                                        {% if apartment.tariff %}
                                            <a href="{% url 'settings:tariff-detail' apartment.tariff.id %}">{{ apartment.tariff.title }}</a>
                                        {% else %}
                                            Не указано
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <p>
                                <a href="{% url "admin:counter-specific-list" %}?apartment_id={{ apartment.id }}">Посмотреть
                                показания счетчиков</a>
                            </p>
                            <p>
                                {% if apartment.bankbook %}
                                    <a href="{% url "admin:cashbox-list" %}?bank_book_id={{ apartment.bankbook.id }}">Посмотреть
                                    приходы</a>
                                {% else %}
                                    <a href="#">Посмотреть приходы</a>
                                {% endif %}
                            </p>
                            <p>
                                <a href="{% url "admin:receipt-list" %}?apartment_id={{ apartment.id }}">Посмотреть
                                квитанции</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
