{% extends "base_admin.html" %}
{% block content %}
    <style>
        .mb-15 {
            margin-bottom: 15px;
        }

        .h-34 {
            height: 34px;
        }

        .hidden-delete {
            display: none;
        }
    </style>
    <section class="content-header">
        <h1>Новый дом</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-home"></i> Главная</a>
            </li>
            <li>
                <a href="#">Дома</a>
            </li>
            <li class="active">Новый дом</li>
        </ul>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <form method="post" enctype="multipart/form-data" id="house-form">
                    {% csrf_token %}
                    {% if form.errors or sections.errors or floors.errors or staff.errors %}
                        <div class="alert alert-danger">Проверьте корректность заполнения полей.</div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <div class="form-group">
                                <label>Название</label>
                                {{ form.title }}
                                {{ form.title.errors }}
                            </div>
                            <div class="form-group">
                                <label>Адрес</label>
                                {{ form.address }}
                                {{ form.address.errors }}
                            </div>
                            <div class="form-group">
                                <label>Изображение #1</label>
                                {{ form.image1 }}
                            </div>
                            <div class="form-group">
                                <label>Изображение #2</label>
                                {{ form.image2 }}
                            </div>
                            <div class="form-group">
                                <label>Изображение #3</label>
                                {{ form.image3 }}
                            </div>
                            <div class="form-group">
                                <label>Изображение #4</label>
                                {{ form.image4 }}
                            </div>
                            <div class="form-group">
                                <label>Изображение #5</label>
                                {{ form.image5 }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-8">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <img src=" {% if house.image1 %}{{ house.image1.url }}{% else %}https://myhouse24.demodev.cc/upload/placeholder.jpg{% endif %}"
                                         class="img-responsive margin-bottom-30"
                                         id="img-preview1"
                                         alt="Изображение дома 1"
                                         width="522"
                                         height="350">
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <img src=" {% if house.image2 %}{{ house.image2.url }}{% else %}https://myhouse24.demodev.cc/upload/placeholder.jpg{% endif %}"
                                         class="img-responsive margin-bottom-30"
                                         id="img-preview2"
                                         alt="Изображение дома 2"
                                         width="248"
                                         height="160">
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <img src=" {% if house.image3 %}{{ house.image3.url }}{% else %}https://myhouse24.demodev.cc/upload/placeholder.jpg{% endif %}"
                                         class="img-responsive margin-bottom-30"
                                         id="img-preview3"
                                         alt="Изображение дома 3"
                                         width="248"
                                         height="160">
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <img src=" {% if house.image4 %}{{ house.image4.url }}{% else %}https://myhouse24.demodev.cc/upload/placeholder.jpg{% endif %}"
                                         class="img-responsive margin-bottom-30"
                                         id="img-preview4"
                                         alt="Изображение дома 4"
                                         width="248"
                                         height="160">
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <img src=" {% if house.image5 %}{{ house.image5.url }}{% else %}https://myhouse24.demodev.cc/upload/placeholder.jpg{% endif %}"
                                         class="img-responsive margin-bottom-30"
                                         id="img-preview5"
                                         alt="Изображение дома 5"
                                         width="248"
                                         height="160">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-lg-8">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab-sections" data-toggle="tab">Секции</a>
                                    </li>
                                    <li>
                                        <a href="#tab-floors" data-toggle="tab">Этажи</a>
                                    </li>
                                    <li>
                                        <a href="#tab-staff" data-toggle="tab">Пользователи</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active clearfix" id="tab-sections">
                                        {{ sections.management_form }}
                                        <div id="sections-container">
                                            {% for s_form in sections %}
                                                <div class="formset-row mb-15">
                                                    {% for hidden in s_form.hidden_fields %}{{ hidden }}{% endfor %}
                                                    <div class="hidden-delete">{{ s_form.DELETE }}</div>
                                                    <label>Название</label>
                                                    <div class="input-group">
                                                        {{ s_form.title }}
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger delete-row h-34">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="btn btn-success pull-right add-formset-row"
                                                type="button"
                                                data-container="sections-container"
                                                data-prefix="sections">Добавить</button>
                                    </div>
                                    <div class="tab-pane clearfix" id="tab-floors">
                                        {{ floors.management_form }}
                                        <div id="floors-container">
                                            {% for f_form in floors %}
                                                <div class="formset-row mb-15">
                                                    {% for hidden in f_form.hidden_fields %}{{ hidden }}{% endfor %}
                                                    <div class="hidden-delete">{{ f_form.DELETE }}</div>
                                                    <label>Название</label>
                                                    <div class="input-group">
                                                        {{ f_form.title }}
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger delete-row h-34">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="btn btn-success pull-right add-formset-row"
                                                type="button"
                                                data-container="floors-container"
                                                data-prefix="floors">Добавить</button>
                                    </div>
                                    <div class="tab-pane clearfix" id="tab-staff">
                                        {{ staff.management_form }}
                                        <div id="staff-container">
                                            {% for st_form in staff %}
                                                <div class="formset-row mb-15">
                                                    {% for hidden in st_form.hidden_fields %}{{ hidden }}{% endfor %}
                                                    <div class="hidden-delete">{{ st_form.DELETE }}</div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label>Сотрудник</label>
                                                            <select name="{{ st_form.user.html_name }}"
                                                                    class="form-control user-select"
                                                                    id="{{ st_form.user.auto_id }}">
                                                                <option value="">Выберите...</option>
                                                                {% for choice in st_form.user.field.queryset %}
                                                                    <option value="{{ choice.pk }}"
                                                                            data-role=" {% if choice.role %}{{ choice.role.title }}{% endif %}"
                                                                            {% if st_form.user.value|stringformat:"s" == choice.pk|stringformat:"s" %}selected{% endif %}>
                                                                        {{ choice }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <label>Роль</label>
                                                            <input type="text"
                                                                   class="form-control role-field"
                                                                   disabled
                                                                   value=" {% if st_form.instance.pk and st_form.instance.user.role %}{{ st_form.instance.user.role.title }}{% endif %}">
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <label>&nbsp;</label>
                                                            <button type="button" class="btn btn-danger delete-row btn-block h-34">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="btn btn-success pull-right add-formset-row"
                                                type="button"
                                                data-container="staff-container"
                                                data-prefix="staff">Добавить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="reset" class="btn btn-default">Отменить</button>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {# Шаблоны для пустых форм (JS) #}
    <script id="sections-empty" type="text/template">
        <div class="formset-row mb-15">
            <div class="hidden-delete">{{ sections.empty_form.DELETE }}</div>
            <label>Название</label>
            <div class="input-group">
                {{ sections.empty_form.title }}
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger delete-row h-34"><i class="fa fa-trash"></i></button>
                </span>
            </div>
        </div>
    </script>
    <script id="floors-empty" type="text/template">
        <div class="formset-row mb-15">
            <div class="hidden-delete">{{ floors.empty_form.DELETE }}</div>
            <label>Название</label>
            <div class="input-group">
                {{ floors.empty_form.title }}
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger delete-row h-34"><i class="fa fa-trash"></i></button>
                </span>
            </div>
        </div>
    </script>
    <script id="staff-empty" type="text/template">
        <div class="formset-row mb-15">
            <div class="hidden-delete">{{ staff.empty_form.DELETE }}</div>
            <div class="row">
                <div class="col-xs-6">
                    <label>Сотрудник</label>
                    <select name="staff-__prefix__-user" class="form-control user-select" id="id_staff-__prefix__-user">
                        <option value="">Выберите...</option>
                        {% for choice in staff.empty_form.user.field.queryset %}
                            <option value="{{ choice.pk }}" data-role="{% if choice.role %}{{ choice.role.title }}{% endif %}">
                                {{ choice }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-5">
                    <label>Роль</label>
                    <input type="text" class="form-control role-field" disabled>
                </div>
                <div class="col-xs-1">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-danger delete-row btn-block h-34"><i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function updateRole(select) {
                const option = select.options[select.selectedIndex];
                const role = option ? (option.getAttribute('data-role') || '') : '';
                const row = select.closest('.formset-row');
                const field = row.querySelector('.role-field');
                if (field) field.value = role;
            }

            function filterStaffChoices() {
                const allSelects = document.querySelectorAll('.user-select');
                const selectedValues = Array.from(allSelects).map(s => s.value).filter(v => v !== "");
                allSelects.forEach(select => {
                    const currentValue = select.value;
                    Array.from(select.options).forEach(option => {
                        if (option.value === "") return;
                        if (selectedValues.includes(option.value) && option.value !== currentValue) {
                            option.style.display = 'none';
                            option.disabled = true;
                        } else {
                            option.style.display = 'block';
                            option.disabled = false;
                        }
                    });
                });
            }

            document.addEventListener('click', function (e) {
                const addBtn = e.target.closest('.add-formset-row');
                if (addBtn) {
                    const prefix = addBtn.dataset.prefix;
                    const container = document.getElementById(addBtn.dataset.container);
                    const totalForms = document.getElementById(`id_${prefix}-TOTAL_FORMS`);
                    const count = parseInt(totalForms.value);
                    let html = document.getElementById(`${prefix}-empty`).innerHTML.replace(/__prefix__/g, count);
                    container.insertAdjacentHTML('beforeend', html);
                    const newRow = container.lastElementChild;
                    const input = newRow.querySelector('input[name$="-title"]');
                    if (input) {
                        if (prefix === 'sections') input.value = 'Секция ' + (count + 1);
                        if (prefix === 'floors') input.value = 'Этаж ' + (count + 1);
                    }
                    totalForms.value = count + 1;
                    filterStaffChoices();
                }

                const delBtn = e.target.closest('.delete-row');
                if (delBtn) {
                    const row = delBtn.closest('.formset-row');
                    const tab = row.closest('.tab-pane');
                    const prefix = tab.id.replace('tab-', '');
                    const idInput = row.querySelector(`input[name$="-id"]`);
                    if (idInput && idInput.value) {
                        const delCheck = row.querySelector(`input[name$="-DELETE"]`);
                        if (delCheck) delCheck.checked = true;
                        row.style.display = 'none';
                        const select = row.querySelector('.user-select');
                        if (select) select.value = "";
                    } else {
                        row.remove();
                        const total = document.getElementById(`id_${prefix}-TOTAL_FORMS`);
                        total.value = parseInt(total.value) - 1;
                    }
                    filterStaffChoices();
                }
            });

            document.addEventListener('change', function (e) {
                if (e.target.classList.contains('user-select')) {
                    updateRole(e.target);
                    filterStaffChoices();
                }
            });

            document.querySelectorAll('.user-select').forEach(updateRole);
            filterStaffChoices();

            function readURL(input, id) {
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    reader.onload = e => document.getElementById(id).src = e.target.result;
                    reader.readAsDataURL(input.files[0]);
                }
            }

            for (let i = 1; i <= 5; i++) {
                const el = document.getElementById('id_image' + i);
                if (el) el.addEventListener('change', function () {
                    readURL(this, 'img-preview' + i);
                });
            }
        });
    </script>
{% endblock content %}
