{% extends "base_admin.html" %}
{% block title %}
    Заявки вызова мастера
{% endblock title %}
{% block content_header %}
    Заявки вызова мастера
{% endblock content_header %}
{% block content_url %}
    <li>
        <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
    </li>
    <li class="active">Заявки вызова мастера</li>
{% endblock content_url %}
{% block content %}
    <section class="content">
        {{ form.master }}
        <select name="" id="id_master_type">
            <option value=""></option>
            {% for master_type in master_types %}<option value="{{ master_type }}">{{ master_type }}</option>{% endfor %}
            <option value="noone">Любой специалист</option>
        </select>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right margin-bottom">
                    <a class="btn btn-success" href="{% url 'admin:create-master-call' %}">Добавить заявку</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <a href="#" class="btn btn-default btn-sm">
                                <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div id="w0" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <table id="master-call-table"
                                   class="table table-bordered table-hover table-striped linkedRow">
                            </table>
                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            AjaxDatatableViewUtils.initialize_table(
                $('#master-call-table'),
                "{% url 'admin:master-call-ajax-table' %}",
                {
                    processing: true,
                    autoWidth: false,
                    scrollX: false,
                    lengthChange: false,
                    pageLength: 50,
                    searching: true,
                    pagingType: 'numbers',
                    showing: false,
                    ordering: false,
                    dom: '<"box-body"t><"box-footer clearfix"p>',
                    info: false,
                    bFilter: true,
                    initComplete: function (settings, json) {
                        var api = this.api();

                        function setupColumnFilter(colName, selectId, ajaxUrl, dependentDataFunc) {
                            var column = api.column(colName + ':name');
                            if (column.index() !== undefined) {
                                var $cell = $(column.footer());

                                if ($cell.length === 0 || $cell.is(':empty')) {
                                    $cell = $('#master-call-table thead tr:eq(1) th').eq(column.index());
                                }

                                $cell.empty();

                                var $select = $(selectId);
                                $select.appendTo($cell);

                                $select.select2({
                                    width: '100%',
                                    placeholder: "Все",
                                    allowClear: true,
                                    ajax: {
                                        url: ajaxUrl,
                                        dataType: 'json',
                                        delay: 250,
                                        data: function (params) {
                                            var query = {
                                                q: params.term,
                                                page: params.page
                                            };

                                            if (dependentDataFunc) {
                                                $.extend(query, dependentDataFunc());
                                            }

                                            return query;
                                        }
                                    }
                                });

                                $cell.on('click', function (e) {
                                    e.stopPropagation();
                                });
                            }
                        }

                        function setupRangeFilter(colName) {
                            var column = api.column(colName + ':name');
                            if (column.index() !== undefined) {
                                var $cell = $('#master-call-table thead tr:eq(1) th').eq(column.index());
                                $cell.empty();

                                var $input = $('<input>', {
                                    type: 'text',
                                    id: 'date_range',
                                    class: 'form-control input-sm',
                                });

                                $input.appendTo($cell);
                                $input.daterangepicker({
                                    autoUpdateInput: false,
                                });
                                $input.on('apply.daterangepicker', function (ev, picker) {
                                    $(this).val(
                                        picker.startDate.format('YYYY-MM-DD') +
                                        ' - ' +
                                        picker.endDate.format('YYYY-MM-DD')
                                    );
                                    $('#master-call-table').DataTable().ajax.reload();
                                });

                                $input.on('cancel.daterangepicker', function () {
                                    $(this).val('');
                                    $('#master-call-table').DataTable().ajax.reload();
                                })
                            }

                        }

                        function setupCustomSelect(colName, selectId) {
                            var column = api.column(colName + ':name');
                            if (column.index() !== undefined) {
                                var $cell = $(column.footer());

                                if ($cell.length === 0 || $cell.is(':empty')) {
                                    $cell = $('#master-call-table thead tr:eq(1) th').eq(column.index());
                                }

                                $cell.empty();

                                var $select = $(selectId);
                                $select.appendTo($cell);

                                $cell.on('click', function (e) {
                                    e.stopPropagation();
                                });
                            }
                        }

                        setupColumnFilter('master', '#id_master', '/api/admin/master', null);
                        setupRangeFilter('date')
                        setupCustomSelect('master_type', '#id_master_type')

                        $('#id_master').on('change.select2', function () {
                            $('#master-call-table').DataTable().ajax.reload();
                        });
                    }

                },
                {
                    master: function () {
                        return $('#id_master').val();
                    },
                    date_from: function () {
                        var val = $('#date_range').val();
                        if (!val) return null;
                        return val.split(' - ')[0];
                    },
                    date_to: function () {
                        var val = $('#date_range').val();
                        if (!val) return null;
                        return val.split(' - ')[1];
                    },
                }
            )
            ;
            $('body').on('click', 'tr[data-href]', function (e) {


                if ($(e.target).closest('a, button, .btn').length) {
                    return;
                }

                window.location = $(this).data('href');
            });

            $('.box-tools a').on('click', function (e) {
                e.preventDefault();
                $('#id_house').val(null).trigger('change');
                $('#id_section').val(null).trigger('change');
            });
        });
    </script>
{% endblock extra_js %}
