{% extends "base_admin.html" %}
{% load static %}
{% block title %}
    Профиль владельца
{% endblock title %}
{% block content_header %}
    Профиль владельца
{% endblock content_header %}
{% block content_url %}
    <li>
        <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
    </li>
    <li>
        <a href="{% url 'admin:owner-list' %}">Владельцы квартир</a>
    </li>
    <li class="active">Профиль владельца</li>
{% endblock content_url %}
{% block content %}
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools">
                    <a href="https://myhouse24.demodev.cc/cabinet/?token=1GXUmIU2uMZi1jjYYRw1_AHDv5wUBfMi"
                       target="_blank"
                       class="btn btn-default btn-sm"><i class="fa fa-external-link"></i> Перейти в
                    кабинет</a>
                    <a href="{% url 'admin:edit-owner' pk=owner.id %}"
                       class="btn btn-primary btn-sm">
                        <span class="hidden-xs">Редактировать профиль</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="userAvatar">
                            {% if owner.photo %}
                                <img class="img-circle"
                                     style="object-fit: cover"
                                     src="{{ owner.photo.url }}"
                                     alt="Владелец без лицевого счета"
                                     width="150"
                                     height="150">
                            {% else %}
                                <img class="img-circle img-responsive" style="object-fit: cover;" src="{% static "image/glide.jpeg" %}" alt="Владелец без лицевого счета" width="150" height="150">
                            {% endif %}
                        </div>
                        <div class="table-responsive no-padding">
                            <table class="table table-bordered table-striped table-view">
                                <tbody>
                                    <tr>
                                        <td>Статус</td>
                                        <td>
                                            {% if owner.status.ACTIVE %}
                                                <small class="label label-success">Активен</small>
                                            {% elif owner.status.NEW %}
                                                <small class="label label-warning">Новый</small>
                                            {% elif owner.status.INACTIVE %}
                                                <small class="label label-danger">Отключен</small>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ owner.id_user }}</td>
                                    </tr>
                                    <tr>
                                        <td>Фамилия</td>
                                        <td>{{ owner.second_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Имя</td>
                                        <td>{{ owner.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Отчество</td>
                                        <td>{{ owner.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата рождения</td>
                                        <td>{{ owner.birth_date }}</td>
                                    </tr>
                                    <tr>
                                        <td>О владельце (заметки)</td>
                                        <td>{{ owner.about_owner }}</td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td>
                                        <td>{{ owner.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Viber</td>
                                        <td>{{ owner.viber }}</td>
                                    </tr>
                                    <tr>
                                        <td>Telegram</td>
                                        <td>{{ owner.telegram }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>
                                            {{ owner.email }}                                  <!--</a>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if owner.apartment_set %}
                        <h4>Квартиры</h4>
                        <div class="table-responsive no-padding margin-top-15">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Дом</th>
                                        <th>Секция</th>
                                        <th>Квартира</th>
                                        <th>Лицевой счет</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for apartment in owner.apartment_set.all %}
                                        <tr role="row">
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <a href="{% url 'admin:detail-house' pk=apartment.house.id %}">{{ apartment.house.title }}</a>
                                            </td>
                                            <td>{{ apartment.section.title | default:'не указано' }}</td>
                                            <td>
                                                <a href="{% url 'admin:flat-detail' pk=apartment.id %}">{{ apartment.number }}</a>
                                            </td>
                                            <td>
                                                {% if apartment.bankbook_set %}
                                                    <a href="">{{ apartment.bankbook_set.number }}</a>
                                                {% else %}
                                                    не указано
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
