{% extends "base_admin.html" %}
{% block title %}
    {% if 'create' in request.path %}
        Редактирование
    {% elif 'edit' in request.path %}
        Редактирование
    {% endif %}
{% endblock title %}
{% block content_header %}
    {% if 'create' in request.path %}
        Редактирование
    {% elif 'edit' in request.path %}
        Редактирование
    {% endif %}
{% endblock content_header %}
{% block content_url %}
    {% if 'create' in request.path %}
        <li>
            <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li>
            <a href="{% url 'settings:article-list' %}"><i class="fa fa-home"></i>Статьи приходов/расходов</a>
        </li>
        <li class="active">Редактирование</li>
    {% elif 'edit' in request.path %}
        <li>
            <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li>
            <a href="{% url 'settings:article-list' %}">Статьи приходов/расходов</a>
        </li>
        <li class="active">Редактирование</li>
    {% endif %}
{% endblock content_url %}
{% block content %}
    <section class="content">
        <div class="box">
            <div class="box-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-lg-7">
                            <div class="form-group field-transactionpurpose-name required">
                                <label class="control-label" for="transactionpurpose-name">Название</label>
                                {{ form.title }}
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group field-transactionpurpose-type">
                                <label class="control-label" for="transactionpurpose-type">Приход/расход</label>
                                {{ form.type }}
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="form-group">
                                <button type="reset" class="btn btn-default">Отменить</button>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
