{% extends "base_admin.html" %}
{% block title %}
    Тарифы
{% endblock title %}
{% block content_header %}
    Тарифы
{% endblock content_header %}
{% block content_url %}
    <li>
        <a href="{% url 'admin:statistic' %}"><i class="fa fa-home"></i> Главная</a>
    </li>
    <li class="active">Тарифы</li>
{% endblock content_url %}
{% block content %}
    <style>
        .col-actions {
            width: 114px;
            min-width: 114px;
        }
    </style>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right margin-bottom">
                    <a class="btn btn-success" href="{% url 'settings:tariff-create' %}">Добавить тариф</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div id="w0" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <table id="tariff-table"
                                   class="table table-bordered table-hover table-striped linkedRow">
                            </table>
                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script language="javascript">
        $(document).ready(function () {
            AjaxDatatableViewUtils.initialize_table(
                $('#tariff-table'),
                "{% url 'settings:tariffs-table' %}",
                {
                    width: '100%',
                    processing: false,
                    autoWidth: false,
                    scrollX: false,
                    lengthChange: false,
                    pageLength: 50,
                    searching: true,
                    pagingType: 'numbers',
                    showing: false,
                    dom: '<"box-body"t><"box-footer clearfix"p>',
                    info: false,
                    bFilter: true,
                    ordering: true,
                    order: [[0, 'asc']],
                },
            );
            $('body').on('click', 'tr[data-href]', function (e) {
                if ($(e.target).closest('a, button, .btn').length) {
                    return;
                }
                window.location = $(this).data('href');
            });
        });
    </script>
{% endblock extra_js %}
