{% extends "base_admin.html" %}
{% load static %}
{% block title %}
    Пользователи
{% endblock title %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right margin-bottom">
                    <a class="btn btn-success" href="{% url 'settings:create-user' %}">Создать пользователя</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Список пользователей</h3>
                    </div>
                    <div id="w0" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <button id="clear-table-filters" class="btn btn-default">
                                <i class="fa fa-refresh"></i> Очистить фильтры
                            </button>
                            <table id="user-table"
                                   class="table table-bordered table-hover table-striped linkedRow">
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <div id="pagination" class="pagination pagination-sm no-margin pull-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #clear-table-filters {
            margin-right: 5px;
        }

        #user-table thead tr.filters th {
            padding: 4px 8px !important;
            background-color: #f9f9f9;
            vertical-align: middle;
        }

        #user-table thead input,
        #user-table thead select {
            width: 100% !important;
            height: 28px !important;
            padding: 2px 5px !important;
            font-size: 12px !important;
            border: 1px solid #d2d6de !important;
            border-radius: 3px !important;
            box-sizing: border-box !important;
            color: #555;
        }

        #user-table thead tr.filters th:after,
        #user-table thead tr.filters th:before {
            display: none !important;
        }

    </style>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script language="javascript">
        $(document).ready(function () {
            AjaxDatatableViewUtils.initialize_table(
                $('#user-table'),
                "{% url 'settings:user-ajax-table' %}",
                {
                    processing: false,
                    autoWidth: false,
                    scrollX: false,
                    lengthChange: false,
                    pageLength: 50,
                    searching: true,
                    pagingType: 'numbers',
                    showing: false,
                    dom: '<"box-body"t><"box-footer clearfix"p>',
                    info: false,
                    bFilter: true,
                    ordering: true,  // УЖЕ ЕСТЬ ✓
                    order: [[0, 'asc']]  // можете добавить начальную сортировку
                }, {},
            );

            $('#clear-table-filters').on('click', function () {
                var datatable = $('#user-table').DataTable();
                datatable.search('');
                datatable.columns().search('');
                var $wrapper = $('#user-table_wrapper');
                $wrapper.find('input').val('');
                $wrapper.find('select').prop('selectedIndex', 0);
                $('#roleSelect, #statusSelect').val('');
                datatable.draw();
            });
            $('body').on('click', 'tr[data-href]', function (e) {


                if ($(e.target).closest('a, button, .btn').length) {
                    return;
                }

                window.location = $(this).data('href');
            });
        });
    </script>
{% endblock content %}
