{% extends "base_owner.html" %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div id="w0" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <table id="receipt-table"
                                   class="table table-bordered table-hover table-striped">
                            </table>
                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            let ajaxUrl;
            {% if apartment.id %}
                ajaxUrl = "{% url 'owner:receipt-concrete-ajax-table' apartment.id %}";
            {% else %}
                ajaxUrl = "{% url 'owner:receipt-ajax-table' %}";
            {% endif %}
            AjaxDatatableViewUtils.initialize_table(
                $('#receipt-table'),
                ajaxUrl,
                {
                    processing: false,
                    autoWidth: false,
                    pageLength: 50,
                    scrollX: false,
                    lengthChange: false,
                    ordering: false,
                    order: [[0, 'desc']],
                    pagingType: 'numbers',
                    showing: false,
                    dom: '<"box-body"t><"box-footer clearfix"p>',
                    info: false,
                    bFilter: true,
                },
            )
            ;
            $('body').on('click', 'tr[data-href]', function (e) {


                if ($(e.target).closest('a, button, .btn').length) {
                    return;
                }

                window.location = $(this).data('href');
            });
        });
    </script>
{% endblock extra_js %}
