{% extends "base_owner.html" %}
{% block content %}
    <section class="content-header">
        <h1>Сводка - {{ apartment.house.title }}, кв.{{ apartment.number }}</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>0.00 грн</h3>
                        <p>Баланс по квартире</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <span class="small-box-footer">&nbsp;</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Не создан</h3>
                        <p>Лицевой счет</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <span class="small-box-footer">&nbsp;</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>0.00 грн</h3>
                        <p>Средний расход за месяц</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <span class="small-box-footer">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 id="pieChartTitle" class="box-title">Диаграмма расходов</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Недостаточно данных для отображения статистики</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Диаграмма расходов по месяцам за год</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Недостаточно данных для отображения статистики</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
