{% extends "base_owner.html" %}
{% block extra_css %}
    <style>
        .chart-container {
            min-height: 250px;
            height: 250px;
            max-height: 250px;
            max-width: 100%;
        }

        .bar-chart-container {
            min-height: 250px;
            height: 250px;
            max-height: 250px;
            width: 100%;
        }
    </style>
{% endblock extra_css %}
{% block content %}
    <section class="content-header">
        <h1>Сводка - {{ apartment.house.title }}, кв.{{ apartment.number }}</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ balance|default:'Не создан' }} грн</h3>
                        <p>Баланс по квартире</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <span class="small-box-footer">&nbsp;</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>{{ apartment.bankbook.number|default:'Не создан' }}</h3>
                        <p>Лицевой счет</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <span class="small-box-footer">&nbsp;</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ middle_debt|default:'0.00' }} грн</h3>
                        <p>Средний расход за месяц</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <span class="small-box-footer">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 id="pieChartTitle" class="box-title">Диаграмма расходов</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            {% if expenses_month %}
                                <div class="col-md-6 col-sm-12">
                                    <canvas id="month_pie" class="chart-container"></canvas>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <canvas id="year_pie" class="chart-container"></canvas>
                                </div>
                            {% else %}
                                <div class="col-xs-12">
                                    <p>Недостаточно данных для отображения статистики</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Диаграмма расходов по месяцам за год</h3>
                    </div>
                    <div class="box-body">
                        {% if expenses_month %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <canvas id="yearly_bar_chart" class="bar-chart-container"></canvas>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Недостаточно данных для отображения статистики</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const chartCanvas = document.getElementById('month_pie');

            if (chartCanvas) {
                const ctxUsers = chartCanvas.getContext('2d');

                new Chart(ctxUsers, {
                    type: 'pie',
                    data: {
                        labels: [
                            {% for exp in expenses_month %}
                                '{{ exp.service__title|escapejs }}'{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        datasets: [{
                            data: [
                                {% for exp in expenses_month %}
                                    {{ exp.total_cost|floatformat:"2u" }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            ],
                            backgroundColor: {{ colors_month|safe }}
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: true,
                            }
                        }
                    }
                });
            }
            const year = document.getElementById('year_pie');

            if (year) {
                const ctxUsers = year.getContext('2d');

                new Chart(ctxUsers, {
                    type: 'pie',
                    data: {
                        labels: [
                            {% for exp in expenses_year %}
                                '{{ exp.service__title|escapejs }}'{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        datasets: [{
                            data: [
                                {% for exp in expenses_year %}
                                    {{ exp.total_cost|floatformat:"2u" }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            ],
                            backgroundColor: {{ colors_year|safe }}
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: true,
                            }
                        }
                    }
                });
            }

            const ctx = document.getElementById('yearly_bar_chart').getContext('2d');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['янв', 'февр', 'март', 'апр', 'май', 'июнь', 'июль', 'авг', 'сент', 'окт', 'нояб', 'дек'],
                    datasets: [{
                        label: 'Расходы',
                        data: {{ bar_data }},
                        backgroundColor: '#224abe',
                        borderWidth: 0,
                        borderRadius: 2
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            grid: {
                                drawBorder: false,
                                color: '#f0f0f0'
                            }
                        },
                        x: {
                            grid: {
                                display: false
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
        });
    </script>
{% endblock extra_js %}
