{% extends "base_static.html" %}
{% block structure %}
    <div class="login-box">
        <div class="login-logo" style="width:360px;">
            <a href="https://myhouse24.demodev.cc/">
                <img src="https://myhouse24.demodev.cc/logo.svg"
                     alt="logo"
                     style="width: 100%;
                            height: auto">
            </a>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="{% url 'user:login-owner' %}">Для жильца</a>
                </li>
                <li>
                    <a href="{% url 'user:login-staff' %}">Для администрации</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="login-box-body">
                        <div id="preloader"></div>
                        <p class="login-box-msg">Вход</p>
                        {{ form.media }}
                        <form id="login-form" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group has-feedback">
                                {{ form.username }} <span class="fa fa-envelope form-control-feedback"></span>
                                {{ form.username.errors }}
                            </div>
                            <div class="form-group has-feedback">
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                            <
                            <div class="form-group"
                                 style="display: flex;
                                        justify-content: center;
                                        width: 100%">{{ form.hcaptcha }}</div>
                            <a href="{% url "user:register" %}">Регистрация</a>
                            <button type="submit" class="btn btn-primary btn-block">Вход</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
