{% extends "base_static.html" %}
{% block structure %}
    <body class="hold-transition skin-black-light sidebar-mini login-page">
        <div class="login-box">
            <div class="login-logo logo-box-width">
                <a href="{% url 'home' %}">
                    <img src="https://myhouse24.demodev.cc/logo.svg"
                         alt="logo"
                         width="360"
                         height="80"
                         class="img-responsive logo-auth-responsive">
                </a>
            </div>
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="login-box-body">
                            <div id="preloader"></div>
                            <p class="login-box-msg">Регистрация</p>
                            {{ form.media }}
                            <form id="login-form" action="" method="post">
                                {% csrf_token %}
                                <div class="form-group has-feedback">
                                    {{ form.email }}
                                    <span class="fa fa-envelope form-control-feedback"></span>
                                    <div class="text-danger">{{ form.email.errors }}</div>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form.password1 }}
                                    <span class="fa fa-lock form-control-feedback"></span>
                                    <div class="text-danger">{{ form.password1.errors }}</div>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form.password2 }}
                                    <span class="fa fa-lock form-control-feedback"></span>
                                    <div class="text-danger">{{ form.password2.errors }}</div>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form.hcaptcha }}
                                    <div class="text-danger">{{ form.hcaptcha.errors }}</div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        jQuery(function ($) {
            $('.login-box-body input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'icheckbox_flat-blue'
            });

            $('#preloader').fadeOut('slow', function () {
                $(this).remove();
            });
        });
        </script>
    </body>
{% endblock structure %}
