{% extends "base_static.html" %}
{% block structure %}
    <body class="hold-transition skin-black-light">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#menuBtn"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="https://myhouse24.demodev.cc/logo.svg"
                             class="img-responsive"
                             style="max-height: 40px"
                             alt="Logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="menuBtn">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if request.path == '/' %}active{% endif %}">
                            <a href="{% url 'managements:main-page' %}">Главная</a>
                        </li>
                        <li class="{% if request.path == '/about/' %}active{% endif %}">
                            <a href="/about">О нас</a>
                        </li>
                        <li class="{% if request.path == '/services/' %}active{% endif %}">
                            <a href="/services">Услуги</a>
                        </li>
                        <li class="{% if request.path == '/conditions/' %}active{% endif %}">
                            <a href="#">Условия</a>
                        </li>
                        <li class="{% if request.path == '/contacts/' %}active{% endif %}">
                            <a href="{% url 'managements:contacts-page' %}">Контакты</a>
                        </li>
                        <li>
                            <a href="{% url 'user:login-owner' %}"><i class="fas fa-sign-in-alt"></i> Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main-wrapper" style="margin-top: 70px; min-height: 80vh;">
            {% block content %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p class="text-muted">
                            Разработано <a href="#">AVADA-MEDIA</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
