{% extends "base_static.html" %}
{% block structure %}
    <style>
        .profile-no-img-cover {
            font-size: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img-cover {
            object-fit: cover;
        }
    </style>
    <body class="hold-transition skin-black-light sidebar-mini fixed">
        <div class="wrapper">
            <header class="main-header">
                <a href="{% url 'owner:profile-detail' %}" class="logo">
                    <span class="logo-mini">
                        <img src="https://myhouse24.demodev.cc/logo-mini.svg"
                             class="img-responsive"
                             width="50"
                             height="50"
                             alt="Logo">
                    </span>
                    <span class="logo-lg">
                        <img src="https://myhouse24.demodev.cc/logo.svg"
                             class="img-responsive logo-lg-img"
                             width="150"
                             height="45"
                             alt="Logo">
                    </span>
                </a>
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="header-title edit-admin-panel">Личный кабинет</div>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="label label-primary">{{ new_messages.count }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if not new_messages %}
                                        <li class="header">Нет новых сообщений</li>
                                    {% else %}
                                        <li class="header">{{ new_messages.count }}</li>
                                        <ul class="menu">
                                            {% for new_message in new_messages %}
                                                <li>
                                                    <a href="{% url 'owner:message-detail' new_message.id %}">{{ new_message.theme }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <li class="footer">
                                        <a href="{% url 'owner:message-list' %}">Перейти в раздел сообщений</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if user.photo %}
                                        <img src="{{ user.photo.url }}"
                                             class="user-image"
                                             width="25"
                                             height="25"
                                             alt="{{ user.fullname }}">
                                    {% else %}
                                        <i class="fa fa-child fa-lg"></i>
                                    {% endif %}
                                    <span class="hidden-xs">{{ user.fullname }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header bg-yellow">
                                        {% if user.photo %}
                                            <img src="{{ user.photo.url }}"
                                                 class="img-circle img-cover"
                                                 width="160"
                                                 height="160"
                                                 alt="{{ user.fullname }}">
                                        {% else %}
                                            <i class="fa fa-user-circle text-purple profile-no-img-cover">
                                            </i>
                                        {% endif %}
                                        <p>{{ user.fullname }}</p>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a class="btn btn-default btn-flat"
                                               href="{% url 'owner:profile-detail' %}">Профиль</a>
                                        </div>
                                        {% if request.path != '/admin/' and request.user.is_hijacked %}
                                            <div>
                                                <form action="{% url 'hijack:release' %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-default btn-flat">
                                                        Вернуться в свой
                                                        аккаунт
                                                    </button>
                                                </form>
                                            </div>
                                        {% endif %}
                                        <div class="pull-right">
                                            <form action="{% url 'user:logout' %}" method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-default btn-flat"
                                                        href="{% url 'user:logout' %}"
                                                        data-method="post">Выход</button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu" data-widget="tree">
                        {% if user.apartment_set.exists %}
                            <li class="active treeview">
                                <a href="#"><i class="fa fa-line-chart"></i> <span>Сводка</span>
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                                <ul class="treeview-menu">
                                    {% for apartment in user.apartment_set.all %}
                                        <li>
                                        <a href="{% url "owner:apartment-detail" apartment.pk %}"><i class="fa fa-file-text-o"></i>
                                        <span>{{ apartment.house.title }}, кв.{{ apartment.number }}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-files-o"></i> <span>Квитанции</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li>
                            <a href="{% url 'owner:receipt-list' %}"><i class="fa fa-file-text-o"></i>
                            <span>Все квитанции</span></a>
                    </li>
                    {% for apartment in user.apartment_set.all %}
                        <li>
                        <a href="{% url "owner:receipt-list-concrete" apartment.id %}"><i class="fa fa-file-text-o"></i>
                        <span>{{ apartment.house.title }}, кв.{{ apartment.number }}</span></a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li class="treeview">
    <a href="#"><i class="fa fa-money"></i>
    <span>Тарифы</span>
    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
<ul class="treeview-menu">
    {% for apartment in user.apartment_set.all %}
        <li>
        <a href="{% url 'owner:tariff-list' apartment.id %}"><i class="fa fa-file-text-o"></i>
        <span>{{ apartment.house.title }}, кв.{{ apartment.number }}</span></a>
</li>
{% endfor %}
</ul>
</li>
<li>
<a href="{% url 'owner:message-list' %}"><i class="fa fa-envelope-o"></i>
<span>Сообщения</span></a>
</li>
<li>
<a href="{% url 'owner:master-call-list' %}"><i class="fa fa-wrench"></i>
<span>Вызов мастера</span></a>
</li>
{% else %}
<li class="disabled"
    onclick="alert('Раздел станет доступным после добавления квартиры.'); return false;">
    <a href="#"><i class="fa fa-line-chart"></i> <span>Сводка</span></a>
</li>
<li class="disabled"
    onclick="alert('Раздел станет доступным после добавления квартиры.'); return false;">
    <a href="#"><i class="fa fa-files-o"></i> <span>Квитанции</span></a>
</li>
<li class="disabled"
    onclick="alert('Раздел станет доступным после добавления квартиры.'); return false;">
    <a href="#"><i class="fa fa-money"></i> <span>Тарифы</span></a>
</li>
<li class="disabled"
    onclick="alert('Раздел станет доступным после добавления квартиры.'); return false;">
<a href="#"><i class="fa fa-envelope-o"></i>
<span>Сообщения</span></a>
</li>
<li class="disabled"
    onclick="alert('Раздел станет доступным после добавления квартиры.'); return false;">
    <a href="#"><i class="fa fa-wrench"></i> <span>Вызов мастера</span></a>
</li>
{% endif %}
<li>
<a href="{% url 'owner:profile-detail' %}"><i class="fa fa-user-circle-o"></i>
<span>Профиль</span></a>
</li>
</ul>
</section>
</aside>
<div class="content-wrapper">
    {% block content %}
    {% endblock content %}
</div>
<footer class="main-footer">
    Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
</footer>
</div>
</body>
{% endblock structure %}
